<%= content_for :javascript do %>
  <%= javascript_include_tag :member_authority %>
<% end %>
<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <div class="l-side-col l-grid-3-12 l-align-left">
    <%= render "admin/side" %>
  </div>
  <div class="l-grid-9-12 l-align-left">
    <h2>権限の管理</h2>
    <p class="annotation">
      オーナー(1人)：権限の管理、マネージャーができること<br>
      マネージャー(複数人)：ユーザの追加・削除、アイテムの追加・削除・編集、他人のコメントの削除、一般ユーザができること<br>
      一般ユーザ：コメントの追加、自分のコメントの削除
    </p>
    <%= image_tag "permission-desc.png" %>
    <h3>権限の変更</h3>
    <div class="raw_members" style="display:none;">
      <% @members.each do |member|  %>
	<div class="raw_member">
	  <span class="id"><%= member.id %></span>
	  <span class="name"><%= member.name %></span>
	  <span class="authority"><%= member.authority %></span>
	  <span class="image"><%= asset_path member.image.url %></span>
	</div>
      <% end %>
    </div>
    <script>
     $(".raw_member").each(function(){
	 if($(this).children(".authority").text() != "owner"){
	     root_vm["members_vm"].pushMember(
		 $(this).children(".id").text(),
		 $(this).children(".name").text(),
		 $(this).children(".authority").text(),
		 $(this).children(".image").text()
	     );
	 }
     });
     $(".raw_members").remove();
    </script>
    <div class="block_content l-grid-row">
      <div class="user_box clearfix">
	  <div class="l-grid-1-12 l-align-left">
	    <%= image_tag current_user.image.url %>
	  </div>
	  <div class="l-grid-8-12 l-align-left">
	    <p>
	      <span><%= current_user.name %></span>
	    </p>
	  </div>
	  <div class="l-grid-3-12 l-align-left">
	    <!-- options:セレクタが選べるオプションのオブジェクトの配列
		 optionsText:実際に選択肢として表示される文字列
		 optionsValue:選択された選択肢の内部的な値
		 value: 現在選択されている値(双方向にデータバインディングされる)
	    -->

	    <select class="offset" disabled>
	      <option>オーナー</option>
	    </select>

	  </div>
      </div>
      <div data-bind="foreach: {data: members_vm.members}">
	<div class="user_box clearfix">
	  <div class="l-grid-1-12 l-align-left">
	    <img data-bind="attr: {src : image}">
	  </div>
	  <div class="l-grid-8-12 l-align-left">
	    <p>
	      <span data-bind="text: name"></span>
	    </p>
	  </div>
	  <div class="l-grid-3-12 l-align-left">
	    <!-- options:セレクタが選べるオプションのオブジェクトの配列
		 optionsText:実際に選択肢として表示される文字列
		 optionsValue:選択された選択肢の内部的な値
		 value: 現在選択されている値(双方向にデータバインディングされる)
	    -->

	    <select class="offset" data-bind="options: authorities,
					      optionsText:'name',
					      optionsValue: 'value',
					      value: selectedValue
					      ">
	    </select>

	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
