<div class="l-constrained">
  <h1 class="border_heading">
    <%= t('.forgot_your_password', :default => 'Forgot your password?') %>
  </h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form" }) do |f| %>
    <%= devise_error_messages! %>
    <div class="l-grid-row clearfix">
      <div class="l-grid-3-12 l-align-left">
	<%= f.label :email %>
      </div>
      <div class="l-grid-4-12 l-align-left">
	<%= f.email_field :email %>
      </div>
    </div>
    <div class="l-grid-row clearfix">
      <div class="l-grid-4-12 l-align-left">
	<%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "button button-success" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
