<div class="l-grid-row">
  <h2 class="block_heading">新しいレビュー</h2>
</div>
<div class="l-grid-row clearfix">
  <% @comments.each do |comment| %>
    <div class="l-grid-4-12 l-align-left">
      <div class="block_content product_small clearfix">
	<div class="info l-grid-row">
	  <span class="date">
	    <%= l comment.created_at, format: :short %>
	  </span>
	</div>
	<div class="l-grid-row clearfix">
	  <div class="l-grid-1-2 l-align-left">
	    <div class="inner_offset">
	      <% unless comment.product.lendable? %>
		<span class="hover_batch">貸出中</span>
	      <% end %>
	      <%= link_to image_tag(comment.product.image.url), product_path(comment.product)%>
	    </div>
	  </div>
	  <div class="l-grid-1-2 l-align-left">
	    <%= link_to truncate(comment.product.name, :length => 30, :separator => "..."), product_path(comment.product)%>
	  </div>
	</div>
	<div class="l-grid-row clearfix">
	  <div class="product_comment clearfix">
	    <div class="l-grid-3-12 l-align-left">
	      <div class="inner_offset">
		<%= image_tag(comment.user.image.url)%>
		
	      </div>
	    </div>
	    <div class="l-grid-9-12 l-align-left">
	      <div class="l-grid-row">
		<span><%= comment.user.name%></span>
	      </div>
	      <div class="fbox">
		<%= truncate(comment.content, :length => 30, :separator => '...')%>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  <% end %>
</div>
<div class="l-grid-row see_more">
  <%= link_to "さらにみる", comments_path%>
</div>
