<div class="l-header">
  <div class="global-nav">
    <div class="alert-wrapper">
      <% if notice %>
	<div class="l-constrained">
	  <div class="l-grid-8-12 l-align-center">
	    <p class="alert alert-notice"><%= notice %></p>
	  </div>
	</div>
      <% end %>
      <% if alert %>
	<div class="l-constrained">
	  <div class="l-grid-8-12 l-align-center">
	    <p class="alert alert-error"><%= alert%></p>
	  </div>
	</div>
      <% end %>
    </div>
    <div class="l-constrained">
      <%= link_to 'Tansu', root_path, class: "logo link l-align-left"%>
      <% if user_signed_in? %>
	<div class="dropdown-user pull-right" data-bind="with: dropdown">
          <img src="http://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png" data-bind="click: toggle, clickBubble: false">
          <div class="dropdown-panel" data-bind="visible: actived" style="display:none;">
            <ul>
              <li><a href="#">プロフィール</a></li>
              <li><%= link_to 'アカウント設定', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
	<%= link_to 'ログイン', new_user_session_path, class: "link l-align-right" %>
	<%= link_to '新規登録', new_user_registration_path, class: "link l-align-right" %>
      <% end %>
    </div>
  </div>
</div>
