<div class="l-constrained">
  <h1 class="border_heading"><%= @heading %></h1>
  <% @products.each_with_index do |product, i|%>
    <% if (i % 2) == 0%>
      <div class="l-grid-row clearfix">
    <% end %>
    <div class="l-grid-1-2 l-align-left">
      <div class="block_content product_small clearfix">
	<div class="l-grid-row clearfix">
	  <div class="l-grid-1-4 l-align-left">
	    <div class="inner_offset">
		<span class="hover_batch">貸出中</span>
	      <%= link_to image_tag(product.image.url), product_path(product)%>
	      <%= render "home/pc/lending_data", product: product%>
	    </div>
	  </div>
	  <div class="l-grid-3-4 l-align-left">
	    <%= link_to truncate(product.name, :length => 30, :separator => "..."), product_path(product)%>
	    <p>
	      <%= truncate(product.description, :length => 120, :separator => "...") %>
	    </p>
	  </div>
	</div>
      </div>
    </div>
    <% if (i % 2) == 1%>
      </div>
    <% end %>
    <% if (i % 2) == 0 && @products.length == i+1%>
      </div>
    <% end %>
	<% end %>
</div>
<div class="l-constrained pagination">
      <%= will_paginate @products, previous_label: "前", next_label: "次"%>
</div>
