<%= content_for :javascript do %>
  <%= javascript_include_tag :product_form %>
<% end %>
<div class="l-constrained clearfix">
  <h1>管理画面</h1>
  <%= render "admin/side" %>
  <div class="l-grid-9-12 l-align-left">
    <h2>備品の追加</h2>
    <div class="tabs" data-bind="with: product_form_vm">
      <div class="tab-buttons">
	<ul>
	  <li class="actived" data-bind="css: {'actived': mode() == 'manual'}">
	    <a href="#manual" data-bind="click: selectMode">手動</a>
	  </li>
	  <li data-bind="css: {'actived': mode() == 'barcode'}">
	    <a href="#barcode" data-bind="click: selectMode">バーコード検索</a></li>
	  <li data-bind="css: {'actived': mode() == 'product_search'}">
	    <a href="#product_search" data-bind="click: selectMode">商品検索</a>
	  </li>
	</ul>
      </div>
      <div class="tab-contents">
	<div class="tab-content l-grid-row actived">
	    <%= form_for @product , :html => {:multipart => true, :class => "goods_form"} do |f| %>
	      <% if @product.errors.any? %>
		<div class="l-grid-row">
		  <ul>
		    <% @product.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		  </ul>
		</div>
	      <% end %>
	      <div data-bind="if: mode() == 'barcode'">
		<div class="l-grid-row clearfix">
		  <div class="l-grid-2-12 l-align-left">
		    <label for="barcode">バーコード検索</label>
		  </div>
		  <div class="l-grid-10-12 l-align-left">
		    <div class="input_box">
		      <input id="barcode" name="barcode" type="text" class="l-align-left" data-bind="value: barcode_input">
		      <button type="button" class="l-align-right" data-bind="click: barcode_search">検索</button>
		    </div>
		  </div>
		</div>
	    </div>

	    <div class="l-grid-row clearfix" data-bind="if: mode() == 'product_search'">
	      <div class="l-grid-2-12 l-align-left">
		<label for="product_input">商品検索</label>
	      </div>
	      <div class="l-grid-10-12 l-align-left">
		<div class="input_box">
		  <input id="product_input" name="product_input" type="text" class="l-align-left" data-bind="value: product_input">
		  <button type="button" class="l-align-right" data-bind="click: product_search">検索</button>
		</div>
	      </div>
	    </div>

	    <div class="l-grid-row clearfix" data-bind="if: mode() == 'barcode' || mode() == 'product_search'">
	      <h4>検索結果</h4>
	      <div class="search_item_list clearfix">
		<div class="loading" data-bind="visible: loading">
		  <%= image_tag "loading.gif" %>
		</div>
		<div class="clearfix" data-bind="foreach: search_results">
		  <div class="l-grid-2-12 inline_block">
		    <div class="block_content product_small">
		      <a href="/">
			<img src="" class="content-img" data-bind="attr: {src: image_url}">
		      </a>
		      <a href="/" data-bind="text: short_name "></a>
		    </div>
		    <div class="search_item_button">
		      <button type="button" class="button-small button-success" data-bind="click:select">選択</button>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    
	    <div class="l-grid-row clearfix">
	      <div class="l-grid-2-12 l-align-left">
		<%= f.label :name, "品名(必須)" %>
		<div class="annotation">※96文字以内</div>
	      </div>
	      <div class="l-grid-10-12 l-align-left">
		<%= f.text_field :name, :class => "input", :data => {:bind => "value: product.name"}%>
	      </div>
	    </div>
	    <div class="l-grid-row clearfix">
	      <div class="l-grid-2-12 l-align-left">
		<%= f.label :description, "説明(必須)"%>
		<div class="annotation">
		  ※2048文字以内</div>
	      </div>
	      <div class="l-grid-10-12 l-align-left">
		<%= f.text_area :description, :class => "textarea", :data => {:bind => "value: product.description"} %>
	      </div>
	    </div>
	    <div class="l-grid-row clearfix">
	      <div class="l-grid-2-12 l-align-left">
		<label>画像</label>
	      </div>
	      <div class="l-grid-10-12 l-align-left">
		<%= f.hidden_field :base64_image %>
		<div class="crop-container"><!-- - ここに編集画面が追加されます -->
		</div>
		<div class="l-grid-row clearfix">
		  <div class="l-grid-3-8 l-align-left">
		    <button id="rotateLeft" type="button">左回転</button>
		    <button id="rotateRight" type="button">右回転</button>
		  </div>
		  <div class="l-grid-5-8 l-align-left">
		    <!-- ・ファイルの選択 -->
		    <input type="file" id="loadFile">
		  </div>
		</div>
		<div class="l-grid-row clearfix loadFileWapper">
		  <div class="l-grid-1-2">
		  <!-- ・拡大縮小 -->
		  縮小
		  <input type="range" max="100" min="0" id="zoom">
		  拡大
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="l-grid-row clearfix">
	      <%= f.submit "作成", class: "button button-success l-align-right" %>
	    </div>
	    <% end %>
	</div>
      </div>
    </div>
  </div>
</div>
