<div class="l-constrained">
  <div class="l-grid-row clearfix">
    <div class="l-grid-6-12 l-align-left">
      <h1>備品詳細</h1>
    </div>
    <div class="l-grid-6-12 l-align-right">
      <% if current_user.owner_or_manager? %>
	<div class="product_toolbox">
	  <%= link_to "削除",product_path(@product), class: "link_btn link_btn_warning", :method => :delete, data:{:confirm => "本当に削除しますか？"}%>
	  <%= link_to "編集", edit_product_path(@product), class: "link_btn link_btn_info"%>
	</div>
      <% end %>
    </div>
  </div>
  <div class="block_content product_small clearfix">
    <div class="l-grid-2-12 l-align-left">
      <div class="inner_offset">
	<%= image_tag @product.image.url %>
      </div>
    </div>
    <div class="l-grid-8-12 l-align-left">
      <div class="inner_offset">
	<h1><%= @product.name %></h1>
	<p><%= @product.description %></p>
      </div>
    </div>
    <div class="l-grid-2-12 l-align-left">
      <div class="vertical_btns">
	<% if @product.lendable? %>
	  <%= link_to "借りる",lending_index_path(product_id: @product.id),method: :post,class: "link_btn link_btn_success" %>
	<% elsif @product.latest_lending.user == current_user %>
	  <%= link_to "返却する", lending_path(@product.latest_lending, status: "returned"), method: :patch ,class: "link_btn link_btn_success"%>
	<% else %>
	  <span class="link_btn link_btn_default">貸出中です</span>
	<% end %>
	
      </div>
    </div>

  </div>
  <h2>コメント</h2>
  <div class="product_comments block_content">
    <% 5.times do %>
      <div class="product_comment l-grid-12-12 clearfix l-align-center">
	<div class="l-grid-1-12 l-align-left">
          <div class="inner_offset">
	    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png"><br>
	    <a href="">@asakura_dev</a>
	  </div>
	</div>
	<div class="l-grid-11-12 l-align-left">
	  <div class="fbox font-large">気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント</div>
	</div>
      </div>
    <% end %>
    <h3 class="border_heading">コメントする</h3>
    <div class="product_comment clearfix">
      <form class="product_comment_form">
	<div class="l-grid-1-12 l-align-left">
          <div class="inner_offset">
	    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png"><br>
	    <a href="">@asakura_dev</a>
	  </div>
	</div>
	<div class="l-grid-11-12 l-align-left">
	  <div class="fbox">
	    <textarea>
	    </textarea>
	  </div>
	  <button class="button button-success l-align-right">送信</button>
	</div>
      </form>
    </div>
  </div>
</div>
