<!DOCTYPE html>
<html>
<head>
  <title>GruppiGoods</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="l-wrapper">
    <%# ヘッダー %>
    <%= render 'layouts/pc/header' %>

    <%# メインコンテンツ %>
    <div class="l-main clearfix">
    <%= yield %>
      <p class="navbar-text pull-right">
	<% if user_signed_in? %>
	  Logged in as <br>
	  <strong><%= current_user.email %></strong><br>
	  <strong><%= current_user.name %></strong>
	  <%= link_to 'Edit profile', edit_user_registration_path %>
	  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to 'Sign up', new_user_registration_path %>
	  <%= link_to 'login', new_user_session_path %>
	  <%= link_to "login with twitter",
	  user_omniauth_authorize_path(:twitter) %>
	<% end %>
      </p>

      <% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
	<p class="alert alert-error"><%= alert%></p>
      <% end %>
    </div>
    <%# フッター %>
    <%= render 'layouts/pc/footer' %>
  </div>
</body>
</html>
