<!DOCTYPE html>
<html>
<head>
  <title>Tansu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag :dropdown %>
  <%= yield :javascript %>
  <%= javascript_include_tag :ko_bind %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="l-wrapper">
    <%# ヘッダー %>
    <%= render 'layouts/pc/header' %>

    <%# メインコンテンツ %>
    <div class="l-main clearfix">
    <%= yield %>
    </div>
    <%# フッター %>
    <%= render 'layouts/pc/footer' %>
  </div>
</body>
</html>
