<!DOCTYPE html>
<html>
<head>
  <title>GruppiGoods</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag :application %>
  <%= javascript_include_tag :dropdown %>
  <%= yield :javascript %>
  <%= javascript_include_tag :ko_bind %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="l-wrapper">
    <%# ヘッダー %>
    <%= render 'layouts/pc/header' %>

    <%# メインコンテンツ %>
    <div class="l-main clearfix">
      <% if notice %>
	<div class="l-constrained">
	  <p class="alert alert-notice"><%= notice %></p>
	</div>
      <% end %>
      <% if alert %>
	<div class="l-constrained">
	  <p class="alert alert-error"><%= alert%></p>
	</div>
      <% end %>
    <%= yield %>
    </div>
    <%# フッター %>
    <%= render 'layouts/pc/footer' %>
  </div>
</body>
</html>
